@font-face {
    src: url(font/Montserrat-VariableFont_wght.ttf);
    font-family: Montserrat;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    min-height: 100%;
}

body {
    position: relative;
    padding-bottom: 300px;
}

section {
    text-align: center;
    margin-bottom: 30px;
}


nav{
    background-color: rgb(130, 171, 233);
    margin-bottom: 20px;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(130, 171, 233);
    text-align: center;
    font-size: smaller;
    padding: 16px 10px;
    min-height: 80px;
}

nav ul{
    width: 100%;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap:wrap;
}
nav li{
    height: 100px;
    width: 170px;
}
nav a{
    height:100%;
    padding: 30 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

nav a:hover{
    background-color: rgb(75, 99, 134);
}

nav li:first-child{
    margin-right: auto;
}

.oe-container {
    width: min(800px, 90%);
    margin: 0 auto;
    margin-bottom: 50px;

}

.oe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    align-items: stretch;
    justify-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.oe-card {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.oe-card img {
    width: 100%;
    height: auto;
    max-height: 320px;
    object-fit: cover;
    display: block;
}