*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    position: relative;
    padding-bottom: 300px;
}

nav{
    background-color: rgb(130, 171, 233);
    margin-bottom: 20px;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(130, 171, 233);
    text-align: center;
    font-size: smaller;
    padding: 10px;
    height: 300px;
}

nav ul{
    width: 100%;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap:wrap;
}
nav li{
    height: 100px;
}
nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover{
    background-color: rgb(75, 99, 134);
}

nav li:first-child{
    margin-right: auto;
}